<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/post.css">
</head>
<body>
  <%- include('./partials/nav') %>

  <section class="main">
    <h1 style="text-align: center;">Look at the posts here and explore.</h1>
    
    <div class="posts">
      <% if (data.length) { %>
        <% data.forEach(({ post_ID, post_title, post_text, author_login, author_fullname, post_updatedAt }) => { %>
          <div class="post">
            <h2 class="post-heading">
              <a href="/post/<%= post_ID %>"><%= post_title %></a>
            </h2>
            <div class="post-author">
              <a href="/profile/<%= author_login %>"><%= author_fullname %></a>
            </div>
            <div class="post-content">
              <%= post_text %>
            </div>
            <div class="post-date"><%= post_updatedAt.toLocaleDateString() %></div>
            <div class="post-control-actions">
              <a href="/edit-post/<%= post_ID %>">Edit Post</a>
              |
              <button data-post_id="<%= post_ID %>">Delete Post</button>
            </div>
          </div>
        <% }) %>
      <% } %>
    </div>

  </section>

  <script>
    document.addEventListener('click', (e) => {
      const id = e.target.dataset.post_id || null;
      if (id) {
        fetch(`/delete-post/${id}`, {method: 'DELETE'})
          .then(() => window.location.reload());
      }
    });
  </script>
</body>
</html>