<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="/post.css">
</head>
<body>
  <%- include('./partials/nav') %>

  <section class="main">

    <div class="post">
      <h2 class="post-heading">
        <%= post.post_title %>
      </h2>
      <div class="post-author">
        <a href="/profile/<%= post.author_login %>">
          <%= post.author_fullname %>
        </a>
      </div>
      <div class="post-content">
        <%= post.post_text %>
      </div>
      <div class="post-date"><%= post.post_updatedAt.toLocaleDateString() %></div>
    </div>

  </section>
</body>
</html>